.carousel {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide {
  height: inherit;
  width: 100%;
  background-color: $color-background;
  border-bottom: 1px solid $color-headText;
  border-top: 1px solid $color-headText;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .slide-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
    }
  }

  .slide-text {
    width: 70%;

    span {
      font-size: 1.5rem;
      display: block;
      padding-bottom: 10px;
    }
  }
}

.carousel {
  ul {
    height: inherit;
    width: 100%;
    display: flex;
    text-align: center;
    li {
      width: 100%;
      height: inherit;
      text-align: center;
      display: none;
    }
  }
}

.carousel .visible-slide {
  display: inline-block;
}
.slide-buttons {
  height: 400px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

