html {
  font-size: 14px; // wielkość bazowa
  font-family: $font-text;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: $font-text;
  background-color: $color-headText;
}


h3 {
  font-size: 1.3rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}