$color-navigation: #5B605F; //panel boczny, nawigacja
$color-headText: #4a4a49; // nagłówek, , kolor tekstu w kolumnach
$color-headButton: #FF6600; // przyciski, wyróżnienia, nagłówki ekranów
$color-background: #FFFFFA; // kolor tła ekranów
$color-infoText: #3498DB; // kolor wiadomości typu info,
$color-warningText: #FFB03B; // kolor wiadomości typu warning
$color-successText: #468966; // kolor wiadomości typu success
$color-binColor: #BD4932; // kolor ikony kosza
$color-tableIconText: #A1A194; // kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji
